@* 更新めも
    SendClaim　正規表現を見直したみ
*@

<div class="container">
    <h5>いんふぉめーしょん</h5>
    <hr />
    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2020/09/18更新)</h5>
            <p class="card-text">
                ・ログが見られない月がある不具合を修正<br />
                ・Home画面にて最終ページが0件表示になる不具合を修正<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2020/08/21更新)</h5>
            <p class="card-text">
                ・ふぁぼれよ<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2020/03/31更新)</h5>
            <p class="card-text">
                ・画像投稿にプレビュー表示がつきました　人によっては邪魔かも<br />
                ・画像投稿を取消できるようになりました<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2020/03/17更新)</h5>
            <p class="card-text">
                http://172.22.4.89/api/SendMsg <br />
                POST  contnet-type:application/json <br />
                <br />
                例) {"id":"hoge","password":"fuga","message":"pipyopiyo"} <br />
                <br />
                ちょっと面白いことが起こるかも<br />
                画像投稿には対応していません<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2020/03/05更新)</h5>
            <p class="card-text">
                ・朝と夜が生まれました<br />
                ・上記に伴う若干のデザイン変更あり<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2020/02/10更新)</h5>
            <p class="card-text">
                ・タグが発動できてしまう不具合を修正しました<br />
                ・もうがんばりたくない…<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2020/01/29更新)</h5>
            <p class="card-text">
                ・URLの後ろに半角スペースが入ると自動リンクがうまくいかない不具合を修正しました<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2020/01/16更新)</h5>
            <p class="card-text">
                ・連続する半角スペースを表示できない不具合を修正しました<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2019/12/24更新)</h5>
            <p class="card-text">
                ・アイコン表示機能ができました　設定変更 > アイコン変更で変えられます<br />
                ・上記に伴いHome画面の見た目がそれなりに変わっています<br />
                ・無言を貫くことは許されなくなりました<br />
                ・ログが少し変わりました<br />
                ・その他微修正あり<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2019/12/10更新)</h5>
            <p class="card-text">
                ・検索で出てくるURLがリンクになるようにしました<br />
                ・自動リンクがたまに失敗するのを修正しました　まだ何かありそう<br />
                ・その他微修正あり<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2019/12/06更新)</h5>
            <p class="card-text">
                ・タグ等を含めると検索できない問題を修正<br />
                ・ログ表示機能を追加<br />
                ・その他微修正あり<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2019/11/28更新)</h5>
            <p class="card-text">
                ・画像クリックで拡大表示する機能を追加<br />
                ・(2019/12/04追記) WebSocket利用時に拡大されない不具合を修正<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2019/11/27更新)</h5>
            <p class="card-text">
                ・検索画面での画像表示に対応 + 検索から投稿のあるページへの移動機能追加<br />
                ・その他微修正あり<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2019/11/14更新)</h5>
            <p class="card-text">
                ・画像投稿機能を実装しました<br />
                ・多種多様なバグが予想されます　落ちたらごめんなさい<br />
                ・その他微修正あり<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2019/10/31更新)</h5>
            <p class="card-text">
                ・おかしをください<br />
                ・ページング機能を実装しました<br />
                ・公開してから気づきましたが、別のページで投稿すると変なことになるので一応ご遠慮ください<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2019/10/25更新)</h5>
            <p class="card-text">
                ・お問い合わせのユーザーIDが詐称出来なくなりました<br />
                ・遊び心は残してあります<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2019/10/24更新)</h5>
            <p class="card-text">
                仲間が増えました <br />
                文頭に"@@choco " をつけて話してみてください<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2019/10/11更新)</h5>
            <p class="card-text">
                http://172.22.4.89/api/ApplePie <br />
                POST "2019/10/11"<br />
                ちょっと面白いことが起こるかも<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2019/09/26更新)</h5>
            <p class="card-text">
                ・検索が出来ない不具合の修正<br />
                ・ユーザー名をなりすませる不具合の修正<br />
                ・その他微修正<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2019/09/25更新)</h5>
            <p class="card-text">
                ・タグが一部エスケープされない不具合の修正<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2019/09/24更新)</h5>
            <p class="card-text">
                ・AIとお話機能　ちょっと修正<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">不具合情報(2019/09/10 9時更新)</h5>
            <p class="card-text">
                通知が届かない方へ(赤いベルの方です)<br /><br />

                1. 通知OFFにしてページを閉じる<br />
                2. サイトデータを消去する<br />
                3. ページを開きなおし、通知をONにする<br /><br />

                上記の手段を試してみてください<br />
                直らなければ2のあとにhttps://172224test.os.tc:443からの通知許可を消してみてください<br />
                PC再起動でなおることもあるみたいです<br /><br />

                投稿欄上部の通知設定はローカル用のため動きません<br />
                ご了承ください<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2019/09/19更新)</h5>
            <p class="card-text">
                ・ファイル選択機能ができました　選択しても何も起こりません<br />
                ・賢治、キャラメルと話せるようになりました<br />
                文頭に"@@kenji " か "@@caramel "を入れてみてください　半角スペースに注意<br />
                ・投稿が1万件を超えた場合、古いものから消えるようにしました。まだ先の話…<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2019/09/09更新)</h5>
            <p class="card-text">
                ・ログインにパスワードが必要になりました<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2019/08/27更新)</h5>
            <p class="card-text">
                ・自分の投稿送信時に通知が来ないようになったかもしれません<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2019/08/26更新)</h5>
            <p class="card-text">
                ・Push.js復活(ローカル用です…たぶん)<br />
                ・自動リンク生成に対応<br />
                ・マークダウンエディタ、すごく魅力的なんだけど実装難しい…<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2019/08/23更新)</h5>
            <p class="card-text">
                ・Push.js利用関係の削除<br />
                ・ログを一部変更<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2019/08/20更新)</h5>
            <p class="card-text">
                ・通知が届くようになりました<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">更新情報(2019/08/08更新)</h5>
            <p class="card-text">
                ・怪しげなアイコンが出るようになりました　通知ON/OFFが設定できます<br />
                ・通知はまだ届きません　諦めてください<br />
                ・ログが出せるようになりました<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">
                ちょっと修正 + 動作確認用リリース(2019/08/02)
            </h5>
            <p class="card-text">
                ・ログの出し方わからーん<br />
                ・ログインの検証方法変更(個人的な理由により　2回目　この方法結局使わなそうだけど…)<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">
                3回目リリース(2019/07/31)
            </h5>
            <p class="card-text">
                ・検索後、メニューが閉じられない問題を修正<br />
                ・プッシュ通知追加<br />
                ・ログ追加<br />
                ・Ctrl + Enter での投稿送信(Shift使うのは難しそうなのであきらめましたごめんなさい)<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">
                2回目リリース(2019/07/30)
            </h5>
            <p class="card-text">
                ・ログインユーザー表示<br />
                ・ログアウト<br />
                ・改行(現状、htmlタグを利用すると改行が反映されないのでご注意ください)<br />
                ・更新情報表示<br />
                ・お問い合わせ<br />
                ・ログインの検証方法変更(個人的な理由により 前よりむしろ不便かもしれない)<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">
                1回目リリース(2019/07/12)
            </h5>
            <p class="card-text">
                ・IDのみでログイン<br />
                ・ちゃっと<br />
                ・検索(本文のみ)<br />
            </p>
        </div>
    </div>

    <div class="card mx-auto my-3">
        <div class="card-body">
            <h5 class="card-title text-info">てんぷれ</h5>
            <p class="card-text">もっきゅっきゅー</p>
        </div>
    </div>
</div>
